html,body{
    height: 100%;
    margin:0;
}

a{
    color:initial;
    text-decoration: initial;
}


ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* --------------------------------------------------------------- */
.d-none{
    display:none;
}
/* --------------------------------------------------------------- */

.button{
    display:inline-block;
    text-indent:-999px;
    overflow: hidden;
}
/* --------------------------------------------------------------- */
.float-content{
    height: 100%;
    min-height:inherit;
    opacity: 0.7;    
    /* height: inherit; */
}


/* #root{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 250px 750px 1fr;
    grid-template-rows: 500px 171px 1fr 100px;
    grid-template-areas: 
    "header header header header"
    "visual visual visual visual"
    "body body body body"
    "footer footer footer footer";
} */

#header{
    background-color: white;
    grid-area: header;
}

#visual{
    border-top:3px solid #8CBA34;
    background:#313131 url("../images/bg-visual.png") no-repeat center;
    grid-area: visual;
}
#body{
    border-top: 5px solid #8cba34;
    margin-top: 1px;
    grid-area: body;

    display:grid;
    grid-template-columns: 1fr 250px 750px 1fr;
    grid-template-areas: ". aside main .";
    grid-template-rows: 1fr;
}

#aside{
    /* background-color: blue; */
    grid-area: aside;
}

#main{
    /* background-color: blueviolet; */
    grid-area: main;
}

#footer{
    background-color: #313131;
    grid-area: footer;
}   

@media screen and (max-width: 960px){
    #body{
        grid-template-areas: "main";
        grid-template-columns: 1fr;
    }
    #root{
        grid-template-columns: 1fr;
        grid-template-rows: 70px 171px 1fr 100px;
        grid-template-areas: 
        "header"
        "visual"
        "body"
        "footer";
    }
}

/* --------------------------------------------------------------- */
.main-menu{
    display:inline-block;
    font-family:  "맑은 고딕", "고딕", 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: 15px;
    font-weight: bold;
    color:#000000;
    display:inline-block;
}

.main-menu ul{
    display:flex;
}
    .main-menu>ul>li{
    padding-left: 24px;
    background: url('/images/bg-main-menu-vsp.png') no-repeat 12px center;
    }

    .main-menu>ul>li:first-child{
        padding-left: 0px;
        background: none;
    }
    .main-menu>ul>li>a:hover{
        color:red;
    }

.member-menu{
    display: inline-block;
    font: "맑은 고딕";
    font-size: 10px;
    font-weight: bold;
    color: #979797;
    padding: 9px;
}

    .member-menu>ul{
        display:flex;
    }

    .member-menu>ul>li{
        padding:9px;
        background: url('/images/bg-member-menu-sp.png') no-repeat 2px center;
        }
    .member-menu>ul>li:first-child{
        padding-left: 0px;
        background: none;
    }

.breadcrumb {
    display: inline-block;
}

.path{
    display:inline-block;
    font-family:"맑은 고딕";
    font-size:10px;
    font-weight: bold;
    color:#979797;
    /*padding: 10px;*/
}
    .path>ol {
        padding: 0;
    }
    .path>ol{
        list-style: none;
        display:flex;
    }

    .path>ol>li{
        padding:0px 10px;
        background: url('/images/icon-path.png') no-repeat -3px center;
    }
    .path>ol>li:first-child{
        padding-left: 20px;
        background: url('/images/icon-home.png') no-repeat 0px center;
    }

.pager{
    /* display: inline-block; */
    display:flex;
    font-size:10px;
    font-weight: bold;
    color:#979797;
}
    .pager>ul{
        padding:0px 5px;
        display:flex;
        /* padding:3px; */
    }
    .pager>ul>li{
        padding:0px 3px;
    }

.lecture-search-form{
    display:inline-block;
    width: 308px;
    height: 25px;
    border: 5px solid #8CBA34;
}
.lecture-search-form form{
    height: 25px;
 }
    .lecture-search-form fieldset{
        display:flex;
        border:0;
        padding:0;
        margin:0;
    }
    .lecture-search-form fieldset label{
        font-size:11px;
        font-weight: bold;
        width:55px;
        height: 25px;
        text-align: center;
        line-height: 25px;
    }

    .lecture-search-form fieldset input[type=text]{
        flex-grow:1;
        border:0;
        padding-left: 5px;
        font-size:11px;
        font-weight: bold;
        color:cadetblue
    }
    .lecture-search-form fieldset input[type=submit]{  
        width: 31px;
        height: 25px;
        border: 0px;
        border-left: 1px solid #8CBA34;
        background: url("../images/btn-zoom.png");
    }
    .customer-menu{
        display:inline-block;
    }
    .customer-menu ul{
        display:flex;
    }
    .customer-menu .mypage-button{
        background: url("../images/txt-mypage.png") no-repeat;
        width:72px;
        height: 17px;
    }
    .customer-menu .customer-button{
        background: url("../images/txt-customer.png") no-repeat;
        width:72px;
        height: 17px;
    }
