body{
    margin: 0;
    font-size:12px;
}

#header{
    background-color: aqua;
    height: 150px;
    overflow: scroll;
}

#main{
    background-color: brown;
    min-height: 500px;
    overflow: scroll;
}

#footer{
    background-color: darkblue;
    max-height: 100;
}