html{
    font-size: 10px;
}
}
body{
    margin:0;
    font-size:1rem;
}
/*-----*/

#header{
    height: 7rem;
    background-color:orange;
}
#cute{
    height: 2.3em;
    background-color: aqua;
}

#visual{
    height: 17.1em;
    background-color:red;
}

#body{
    min-height: 300px;
    background-color:green;
}

#footer{
    height: 100px;
    background-color:blue;
}