main{
    max-width:780px;
    margin:auto;
    padding-bottom: 100px;
   }

/* .btn-dam {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s;
    font-size:0.8rem;
    padding: 10px 15px;
} */

.btn-small{
    font-size: 0.4rem;
    padding: 5px 8px;
}
.btn-medium{
    font-size:0.7rem;
    padding: 8px 10px;
}


input[type="text"]{
    height: 25px;
    padding: 0 14px;
    margin: 0px;
    border: 1px solid #919191;
    line-height: 1.5;
    color: #333;
    font-weight: lighter;
    font-size: 0.6rem;
    border-radius: 12px;
    outline: none;
}

/* ---------utils-------------------------------------------------- */
.d-none{
    display:none !important;
}
.truncate{
    white-space:nowrap !important;
    overflow: hidden !important;
    text-overflow:ellipsis !important;
}

.text-align-left{
    text-align: left !important;
}



/*--------------select-box css--------*/
.select-box{
    border:none;
    /* appearance:none; */
    font-size: 5px;
}


.sort, .main, .last-btn{
    margin:20px;
} 

/* 정렬순 */
   .sort{
    display:flex;
    margin-top:40px;
   }

   .sort div{
   }

   .sort form{
    margin-left: auto;
    white-space: nowrap;
    /* overflow:scroll; */
   }

/* ---------table------------ */
table{
    text-align: center;

    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
    
    padding:0px;
}
table thead tr{
    background-color: #dfe7ec;
    border: 0px;
}

table thead td{
    padding: 1px 1px;
}

table tr{
    font-size: 11px;
    border-bottom: 1px solid gray;
    /* border: 1px solid #444444; */
}

table td{
    padding:10px 0px;

    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

table .w-1{
    width: 40%;
}
table .w-2{
    width: 20%;
}
table .w-3{
    width: 30px;
}
.w-4{
    width:35px;
}

/*-------------sub nav-----------*/
.top-category-title {
    width: 100%;
    height: 35px;
    padding: 7px 0;
    background-color: #fff;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #979797;
    transition: all 0.2s ease;
  }
  
  .top-category-title-wrapper {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 15px;
    overflow-x: auto;
    align-items: center;
  }
  
  .top-category-title-wrapper::-webkit-scrollbar {
    width: 0;
  }
  
  .top-category-title-wrapper > a {
    margin: 0 auto;
    padding: 0 15px;
    font-weight: 500;
  }

/*------------제목---------*/
.title{
    border-bottom: 1px solid #DCDCDC;
    height: 55px;
}

.title .big-title{
    font-size:20px;
    padding: 20px 0px 0px 20px;
}



.last-btn{
    display:flex;
    justify-content: space-between;
    margin: 10px 20px;
}
.last-btn>div{
    margin-right:3px;
}




