html, body{
    height:100%;
    margin:0;
    text-align: center;
}
#root{
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap:20px;
}

#root > *{
    background-color:cadetblue;
    grid-column: col-start / span 12;
}

@media screen and (min-width:500px){
#root > .side,
#root > .ad{
    grid-column: 1 / span 3;
}

#root>  .content,
#root > .main-footer{
    grid-column: col-start 4 / span 9;
;
}
#root > .side,
#root > .content{
    grid-row : 3;  
}
#root > .ad,
#root > .main-footer{
    grid-row : 4;  
}

}

@media screen and (min-width:800px){

#root > .main-nav{
    /* grid-column: 1; */
    grid-row: 2/span 2;
}
#root >.content{
    grid-column: 2/span 9;
    grid-row:2/span 2;
}
#root >.side{
    grid-column:11/span 2;
    grid-row:2;
}
#root >.ad {
    grid-column: 11/ span 2;
    grid-row:3;
}
#root >.main-footer{
    grid-column:1/span 12;
 
}
}