html, body{
    height:100%;
    margin:0;
    font-size:50px;
}
#root{
    text-align: center;
    gap:10px
}

.box1{
    background-color:#428e92;
    grid-area: header;
}

.box2{
    background-color:cadetblue;
    grid-area:aside;
}

.box3{
    grid-area:main;
    background-color: #00363a;
}

.box4{
    grid-area:sidebar;
    background-color:#00838f;
}

.box5{
    grid-area:advertising;
    background-color: #4fb3bf;
}

.box6{
    grid-area:footer;
    background-color: #56c8d8;
}

@media screen and (min-width: 800px) {
#root {
    display:grid;
    grid-template-rows: 120px auto 1fr 1fr 1fr;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
    "header header"
    "aside main"
    "sidebar sidebar"
    "advertising advertising"
    "footer footer";
}
}