html, body{
    height:100%;
    margin:0;
}
#root{
    height:100%;
    display:grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 70px 1fr 100px;
}

.box1{
    grid-area: 1 / 1 / 2 / 3;
    background-color:#428e92;
}

.box2{
    grid-area: header-end/aside-start  / main-start / footer-start;
    background-color: #00363a;
}

.box3{
    grid-area: 2/2/3/3;
    background-color:#00838f;
}

.box4{
    grid-area: 3 / 1 / 4 / 3;
    background-color: #4fb3bf;
}